.navigation {

    &__list {
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
    }

    &__item {
        &,
        &:link,
        &:active,
        &:hover,
        &:visited {
            display: block;
            padding: 0.5rem 1rem;

            text-decoration: none;
            color: $light;

            border-bottom: 1px solid $gray-800;
        }

        &:hover {
            background-color: $gray-800;
        }
    }

}